p 「SUUMO掲載賃貸物件の相見積もりが取れるサイト」へのご登録、ありがとうございます。
br
p 登録いただいたメールアドレスは、#{@email} です。
br
p 登録内容に問題がなければ、以下のリンクからメールアドレスを認証し、サイトのご利用を開始していただけます。
p
  = link_to 'メールアドレスを認証し、サイトを利用する', confirmation_url(@resource, confirmation_token: @token)
br
p 本メールに心当たりがない場合は、上記のリンクをクリックせずに、このメールを無視してください。
